spring:
  datasource:
    url: ${DB_URL}
    driver-class-name: ${DB_DRIVER}
    username:  ${DB_USERNAME}
    password: ${DB_PASSWORD}

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  ai:
    provider: ollama
    ollama:
      base-url: http://localhost:11434
      chat:
        model: llama2
        enabled: true

  sql:
    init:
      mode: always
      platform: h2
optimizer:
  type: ai_optimizer
server:
  port: 8082

