
spring:
  application:
    name: livraison-v2
  config:
    import: optional:file:.env.properties
  profiles:
    active: ${ACTIVE_PROFILE}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

server:
  port: ${SERVER_PORT}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
optimizer:
  type: ai_optimizer  # ai | nearest | clarke

ai:
  provider: openai   # openai | ollama

  ai:
    openai:
      api-key: ${OPENAI_API_KEY:}
      chat:
        options:
          model: gpt-4o-mini
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: tinyllama