
spring:
  datasource:
    url: jdbc:h2:mem:livraison;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

sql:
  init:
    mode: never
server:
  port: 8082
