spring:
  application:
    name: livraison-v2
  config:
    import: optional:file:.env.properties
  profiles:
    active: ${ACTIVE_PROFILE}
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
  ai:

    ollama:
      base-url: http://127.0.0.1:11434
      chat:
        model: tinyllama

server:
  port: ${SERVER_PORT}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG




