<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/data/jpa
           https://www.springframework.org/schema/data/jpa/spring-jpa.xsd
           http://www.springframework.org/schema/tx
           https://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.livraison"/>

    <jpa:repositories base-package="com.livraison.repository"/>
    <!-- Optimizers -->
    <bean id="nearestNeighborOptimizer" class="com.livraison.optimizer.NearestNeighborOptimizer"/>
    <bean id="clarkeWrightOptimizer" class="com.livraison.optimizer.ClarkeWrightOptimizer"/>

    <!-- DeliveryMapper -->
    <bean id="deliveryMapper" class="com.livraison.mapper.DeliveryMapper"/>
    <bean id="tourMapper" class="com.livraison.mapper.TourMapper"/>
    <bean id="VehicleMapper" class="com.livraison.mapper.VehicleMapper"/>
    <bean id="WarehouseMapper" class="com.livraison.mapper.WarehouseMapper"/>




    <!-- Services -->
    <bean id="deliveryService" class="com.livraison.service.DeliveryServiceImpl">
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="deliveryMapper"/>
        <constructor-arg ref="tourRepository"/>
    </bean>

    <bean id="tourService" class="com.livraison.service.TourServiceImpl">
        <constructor-arg ref="tourRepository"/>
        <constructor-arg ref="vehicleRepository"/>
        <constructor-arg ref="warehouseRepository"/>
        <constructor-arg ref="deliveryRepository"/>
        <constructor-arg ref="tourMapper"/>
    </bean>
    <bean id="vehicleService" class="com.livraison.service.VehicleServiceImpl">
        <constructor-arg ref="vehicleRepository"/>
    </bean>
    <bean id="warehouseService" class="com.livraison.service.WarehouseServiceImpl">
        <constructor-arg ref="warehouseRepository"/>
        <constructor-arg ref="WarehouseMapper"/>
    </bean>



</beans>